@model WU.UI.Controllers.InfoIAController
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Cargar Información";
}
<div class="row">
    <div class="col-md-8 col-sm-12">Columna 1</div>
    <div class="col-md-4 col-sm-12">Columna 2</div>
</div>
