@model WU.UI.Controllers.ZonaController
@{
    Layout = "../Shared/_Layout.cshtml";
}
<!DOCTYPE html>

@{

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    int longi = url.Length;
    string cod = url.Substring(longi - 1, 1);
    <p>@Model.zonaBL.CargarDetalleZona(cod).codzona</p>
    <p>@Model.zonaBL.CargarDetalleZona(cod).dsczona</p>
    <p>@Model.zonaBL.CargarDetalleZona(cod).codubigeo</p>    
}
